---
name: build
on: [ push, pull_request, workflow_call ]
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.6', '2.7', '3.0', '3.1']
        gemfile: ['rails_5_2', 'rails_6_0', 'rails_6_1', 'rails_7_0']
        exclude:
          # Latest ruby will test
          # - all rails versions in current major
          # - latest rails version in the previous major
          # Supported rubies will test
          # - all permissible supported rails versions
          # Unsupported rubies will test
          # - all permissible rails versions released within 6 months of EOL
          # - nothing in the current rails major

          # 2.6 -> Unsupported from March '22 -> Only test up to Sep '22
          # 2.7 -> Supported until March '23 (At least)
          # 3.0 -> Supported for a while...
          - { ruby: '2.6', gemfile: 'rails_7_0' }
          - { ruby: '3.0', gemfile: 'rails_5_2' } # Rails 5.2 won't work with Ruby 3+: https://github.com/rails/rails/issues/40938
          - { ruby: '3.1', gemfile: 'rails_5_2' }
          - { ruby: '3.1', gemfile: 'rails_6_0' }
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: '2.1.4'
          bundler-cache: true
      - run: bundle exec rake spec
      - run: bundle exec rubocop
      - run: bundle exec rake cucumber
